
.friend-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  background: #fff;
  border: 1px solid #999;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.friend-modal h1 {
  display: block;
  background-color: rgb(87, 198, 168);
  color: white;
}

.friend-modal h1 > div {
  float:right;

}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 238, 0.8);
}
