
.header {
  background-color: rgb(87, 198, 168);
  color: white;
  float: left;
  width: 100%;
}


.header-logo {
  color: white;
  font-family: "Times New Roman", serif;
  letter-spacing: 15px;
  font-size: 32px;
  float: left;
  margin: 5px 0;
}

.header h1 {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 15px;
}

.header-nav {
  margin: 0 auto;
  width: 1000px;
}

.header-list {
  float: right;
  color: black;
  margin: 5px 0;
}


.nav-button {
  border: 1px solid #4EB398;
  border-radius: 5px;
  background-color: rgb(87, 198, 168);
  padding: 3px 12px;
  box-shadow: 0 2px 0 #4EB398;
}

.nav-button:hover {
  background-color: rgb(67,191,158);
}

.nav-button-signup {
  background-color: rgb(255, 99, 55);
  border: 1px solid rgb(231, 89, 49);
  box-shadow: 0 3px 0 rgb(231, 89, 49);
  padding: 3px 12px;
  border-radius: 5px;
}
.nav-button-signup:hover {
  background-color: rgb(255, 79, 35);
}

.header-list li {
  color: white;
  list-style: none;
  font-size: 18px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-list li:nth-child(2) {
  padding-left: 10px;
  padding-top: 4px;
  padding-right: 12px;
}
