html, body, header, nav, h1, a, ul, li,
main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: content-box;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

.group {
  content: "";
  display: block;
  clear: both;
}

strong {
  font-weight: 700;

}
ul {
  list-style: none;
}
